.footer-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  gap: 20rem;
  
}

.info-tienda,
.nombres {
  text-align: center;
}

.info-tienda p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.nombres p {
  font-size: 0.85rem;
  margin: 0.25rem 0;
  font-weight: 500;
}