.footer-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 200px;
  
}

.info-tienda,
.nombres {
  text-align: center;
}

.info-tienda p {
  font-size: medium;
  margin: 8px;
}

.nombres p {
  font-size: medium;
  margin: 6px;
  font-weight: 500;
}