<app-header></app-header>
<main>
    <div class="container">
        <h2>Agregar nuevo producto</h2>
        <form>
            <div class="mb-3">
                <label for="formFile" class="form-label">Enter your image</label>
                <input class="form-control" type="file" id="formFile" name="photo" accept="recursos/*" [(ngModel)]="productObj.photo">
            </div>
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Enter your name" [(ngModel)]="productObj.name">
            </div>
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Description</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="description" placeholder="Enter your description" [(ngModel)]="productObj.description">
            </div>
            
            <div>
                <label for="">Price</label> <br>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" name="price" aria-label="Amount (to the nearest dollar)" [(ngModel)]="productObj.price">
                <span class="input-group-text">.00</span>
            </div>
            <div class="button-save">
                <button type="button" class="btn btn-outline-secondary" (click)="onSaveRecord()">Save article</button>
            </div>
        </form>
        <div>
            <title>Listado de productos</title>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <!-- Columnas -->
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Price</th>
                </tr>
            </thead>
            <!-- Registros -->
            <tbody>
                <tr *ngFor="let product of productList">
                    <td>{{product.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>