<section class="page-container">
  <div class="image">
    <img src="/recursos/admin.jpeg" *ngIf="userType=='admin'">
    <img src="/recursos/user.jpeg" *ngIf="userType=='user'">
  </div>
  <div class="container">
      <h2>Login</h2>
      <label *ngIf="userType=='admin'" class="user">Administrador</label>
      <label *ngIf="userType=='user'" class="user">Usuario</label>
      <form>
          <div class="form-group" *ngIf="userType=='admin'">
            <label for="username">ID:</label>
            <input type="text" id="id" name="id" [(ngModel)]="loginObj.id" ngModel required>
          </div>
          <div class="form-group" *ngIf="userType=='user'">
            <label for="Correo">Correo:</label>
            <input type="text" id="correo" name="correo" [(ngModel)]="loginObj.correo" ngModel required>
          </div>
          <div class="form-group">  
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="loginObj.password" nmModel required>
          </div>
          <div class="buttons-users">
            <button type="button" class="btn btn-primary" (click)="setUserType('admin')">Administrador</button>
            <button type="button" class="btn btn-secondary" (click)="setUserType('user')">Usuario</button>
          </div>
          <div class="login">
            <button type="submit" class="btn btn-danger" (click)="onLogin()" [routerLink]="['/home', userType]" [disabled]>Login</button>
          </div>
          <div class="home">
            <button type="button" class="btn btn-outline-info" routerLink="/home">Home</button>
          </div>
      </form>
  </div>
</section>